body{
  font-family: Arial, Helvetica, sans-serif;
}
.title{
  padding: 20px;
  background-color: black;
  color: white;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.collapsible {
  background-color: #cccccc;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

.active, .collapsible:hover {
  background-color: #333333;
  color: white;
}

.content {
  padding: 20px;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #e6e6e6;
}


.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
h4{
  color: gray;
}