body{
  font-family: Arial, Helvetica, sans-serif;
}
.title{
  padding: 20px;
  background-color: black;
  color: white;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

.bt {
  background-color: #333333;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
}
a{
  color: white;
  text-decoration: none;
}
.active, .bt:hover {
  background-color: #b3b3b3;
  color: black;
}

